{
    "/api/*": {
      "target": "https://devco.fgbas.uni-koblenz.de",
      "secure": false,
      "logLevel": "debug",
      "pathRewrite": {"^/api" : "https://devco.fgbas.uni-koblenz.de/"},
      "changeOrigin": true,
      "headers": {
        "Origin": "https://devco.fgbas.uni-koblenz.de/",
        "Authorization": "Basic DEIN-AUTH-TOKEN="}
    }
  }