{
    "/api/*": {
      "target": "https://your.cnx.url.com",
      "secure": false,
      "logLevel": "debug",
      "pathRewrite": {"^/api" : "https://your.cnx.url.com/"},
      "changeOrigin": true,
      "headers": {
        "Origin": "https://your.cnx.url.com/",
        "Authorization": "Basic YOUR-AUTH-TOKEN="}
    }
  }
