<div *ngIf="community">
    <h2>Community ID = {{commId}}</h2>
    <br>
    <p>Titel: {{community.title}}</p>
    <app-logo [logo]="community.logo"></app-logo>
    <br><br>    
    <p>Beschreibung: <br> {{community.summary}}</p>
    <p>Veröffentlicht am: <br> {{community.datePublished}}</p>
    <p>Geändert am: <br> {{community.dateUpdated}}</p>    
    <app-remote-applications [remoteApps]="community.miscApps"></app-remote-applications>
    <!--
<members></members>
<socialDocuments></socialDocuments>
...
-->
</div>