<div *ngIf="!folder">
    <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div *ngIf="folder">
    <div id="{{'folderAppAccordion' + folder.uUid}}">
        <div *ngFor="let tFolder of folder.folders" class="card">
            <div class="card-header" id="{{'heading' + tFolder.uUid}}">
                <h5 class="mb-0">
                    <input type="checkbox" id={{tFolder.uUid}} [checked]="tFolder.shouldCopy || tFolder.shouldCopyAll" (click)="setShouldCopyFolder(tFolder)" />
                    <button class="btn btn-link" data-toggle="collapse" attr.data-target="{{'#collapse' + tFolder.uUid}}"
                        aria-expanded="true" attr.aria-controls="{{'collapse' + tFolder.uUid}}">
                        {{tFolder.title}}
                    </button>
                </h5>
            </div>
            <div id="{{'collapse' + tFolder.uUid}}" attr.aria-labelledby="{{'heading' + tFolder.uUid}}" class="collapse"
                data-parent="#folderAppAccordion">
                <div class="card-body">
                    <div *ngFor="let file of tFolder.files" class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id={{file.uUid}} [checked]="tFolder.shouldCopyAll || file.shouldCopy"
                                    (click)="setShouldCopy(tFolder, file)">
                            </div>
                        </div>
                        <input type="text" disabled value="{{file.title}}" class="form-control"
                            aria-label="Text input with checkbox">
                    </div>
                    <div *ngFor="let subfolder of tFolder.childFolders">
                        <app-subfolder [folder]="subfolder"></app-subfolder>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
