<div class="jumbotron" style="margin-top: 20px;">
    <div [hidden]="!processResult || (processResult && !processResult.success)">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Vorgang erfolgreich</h4>
            <p>Die neue Community wurde erstellt.</p>
            <hr>
            <a class="btn btn-secondary active" role="button" [routerLink]="['/service']" routerLinkActive="active">
                Zur Community Übersicht
            </a>
        </div>
    </div>
    <div [hidden]="!processResult || (processResult && processResult.success)">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Vorgang fehlgeschlagen</h4>
            <p>Die Community konnte nicht erstellt werden.</p>
            <hr>
            <a class="btn btn-secondary active" role="button" [routerLink]="['/service']" routerLinkActive="active">
                Zur Community Übersicht
            </a>
        </div>
    </div>
    <div [hidden]="!processRunning">
        <p>Die Community wird erstellt...</p>
        <p>
            <ngb-progressbar type="success" [value]="processStatus.value" [striped]="true" [animated]="true">
                {{processStatus.value > 0 ? (processStatus.value + "%") : ("")}}</ngb-progressbar>
        </p>
        <ul style="list-style-type:none">
            <li *ngFor="let log of processStatus.logList">
                &#10003; {{log}}
            </li>
        </ul>
    </div>
    <div [hidden]="processRunning || processResult">
        <button class="btn btn-secondary" (click)="backClicked()">Zurück zur Übersicht</button><br/><br/>
        <h2>Zu kopierende Community Elemente auswählen</h2>
        <hr class="my-4">
        <app-select-process-type></app-select-process-type>
        <app-community [hidden]="processRunning" [commId]="commId" [commLoaded]="commLoaded"></app-community>
        <hr class="my-4">
        <p class="font-weight-light">Beim Klick auf "Vorgang starten" wird die neue Community erstellt, ist aber nicht
            sichtbar.</p>
        <input type="button" class="btn btn-success" value="Vorgang starten"
            [attr.disabled]="(community && !processRunning) ? null : ''" (click)="startProcess()" />
    </div>
</div>
