<div class="jumbotron">
        <div class="accordion">
          <div class="card">
            <div class="card-header" id="headingOne" style="padding: 10px;">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-dark" style="text-align: left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Logs anzeigen
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <!-- *ngIf="loggingservice.logs.length" -->
                <table class="table">
                  <div class="pre-scrollable">
                  <thead>
                  <tr>
                    <th scope="col">Level</th>
                    <th scope="col" style="width: 100%;">Message</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let log of loggingservice.logs'
                        [class.alert-danger]="log.LogLevel == 'Error'"
                        [class.alert-warning]="log.LogLevel == 'Warning'"
                        [class.alert-success]="log.LogLevel == 'Info'"
                        [class.alert-info]="log.LogLevel == 'None'">
                      <th scope="row">

                          {{log.LogLevel}}:


                      </th>
                      <td>
                        {{log.Message}}
                      </td>
                    </tr>
                  </tbody>
                  </div>
                </table>
              </div>
            </div>
          </div>
        </div>
</div>

