<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-light btn-block collapsed " data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Eigentümer der Community auswählen...
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div *ngIf="OwnerRoleCollection.membercollection.length">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" value="" (click)="CheckedMembers(this,owner)">
                            </div>
                        </div>
                        <input type="text" value="Alle Eigentümer" class="form-control"
                            aria-label="Text input with checkbox">
                    </div>
                    <div *ngFor="let owner of OwnerRoleCollection.membercollection" class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id={{owner.UUid}} value="" (click)="CheckedMembers(this,owner)">
                            </div>
                        </div>
                        <input type="text" value="{{owner.name}} ({{owner.email}})" class="form-control"
                            aria-label="Text input with checkbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-light btn-block collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Mitglieder der Community auswählen...
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div *ngIf="OtherRoleCollection.membercollection.length">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" value="" (click)="CheckedMembers(this,other)">
                            </div>
                        </div>
                        <input type="text" value="Alle Mitglieder" class="form-control"
                            aria-label="Text input with checkbox">
                    </div>
                    <div *ngFor="let other of OtherRoleCollection.membercollection" class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id={{other.UUid}} value="" (click)="CheckedMembers(this,other)">
                            </div>
                        </div>
                        <input type="text" value="{{other.name}} ({{other.email}})" class="form-control"
                            aria-label="Text input with checkbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>