
<div>Owner:</div>

<div *ngIf="OwnerRoleCollection.membercollection.length">
    <li *ngFor="let owner of OwnerRoleCollection.membercollection">
        <p>{{owner.name}}</p>
        <p>{{owner.email}}</p>
        <input type="checkbox" id={{owner.UUid}} value=""  (click)="CheckedMembers(this,owner)">
    </li>
</div>

<div>Member:</div>

<div *ngIf="OtherRoleCollection.membercollection.length">
    <li *ngFor="let other of OtherRoleCollection.membercollection">
        <p>{{other.name}}</p>
        <p>{{other.email}}</p>
        <input type="checkbox" id={{other.UUid}} value=""  (click)="CheckedMembers(this,other)">
    </li>
</div>

