<div id="memberAccordion">
    <div class="card">
        <div class="card-header" id="memberHeadingOne">
            <h5 class="mb-0">
                <button class="btn btn-light btn-block collapsed " data-toggle="collapse" data-target="#memberCollapseOne"
                    aria-expanded="true" aria-controls="memberCollapseOne">
                    Eigentümer der Community auswählen...
                </button>
            </h5>
        </div>
        <div id="memberCollapseOne" class="collapse show" aria-labelledby="memberHeadingOne" data-parent="#memberAccordion">
            <div class="card-body">
                <div *ngIf="OwnerRoleCollection.membercollection.length">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" value="" (click)="CheckedMembers(this,owner)">
                            </div>
                        </div>
                        <input type="text" disabled value="Alle Eigentümer" class="form-control"
                            aria-label="Text input with checkbox">
                    </div>
                    <div *ngFor="let owner of OwnerRoleCollection.membercollection" class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id={{owner.UUid}} value="" (click)="CheckedMembers(this,owner)">
                            </div>
                        </div>
                        <input type="text" disabled value="{{owner.name}} ({{owner.email}})" class="form-control"
                            aria-label="Text input with checkbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header" id="memberHeadingTwo">
            <h5 class="mb-0">
                <button class="btn btn-light btn-block collapsed" data-toggle="collapse" data-target="#memberCollapseTwo"
                    aria-expanded="false" aria-controls="memberCollapseTwo">
                    Mitglieder der Community auswählen...
                </button>
            </h5>
        </div>
        <div id="memberCollapseTwo" class="collapse" aria-labelledby="memberHeadingTwo" data-parent="#memberAccordion">
            <div class="card-body">
                <div *ngIf="OtherRoleCollection.membercollection.length">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" value="" (click)="CheckedMembers(this,other)">
                            </div>
                        </div>
                        <input type="text" disabled value="Alle Mitglieder" class="form-control"
                            aria-label="Text input with checkbox">
                    </div>
                    <div *ngFor="let other of OtherRoleCollection.membercollection" class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id={{other.UUid}} value="" (click)="CheckedMembers(this,other)">
                            </div>
                        </div>
                        <input type="text" disabled value="{{other.name}} ({{other.email}})" class="form-control"
                            aria-label="Text input with checkbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>