<div *ngIf="!foren">
    <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="foren">

    <!-- CopyAll Button if there is more than 1 Forum-->
    <div *ngIf="foren.foren.length > 0" class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" [checked]="copyAll"
                (click)="toggleShouldCopyAll()">
            </div>
        </div>
        <input type="text" disabled value="Alle Foren" class="form-control" aria-label="Text input with checkbox">
    </div>

    <!--If there is no Forum some text sothat you know it has fully loaded-->
    <div *ngIf="foren.foren.length === 0">
        <p>Kein Foren vorhanden.</p>
    </div>

    <!--Loading Forums-->
    <div *ngFor="let Forum of foren.foren" class="input-group mb-3">

        <!--If the Forum has no topics-->
        <div *ngIf="Forum.topics.topics.length === 0" class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" id={{Forum.id}} [checked]="copyAll || Forum.shouldCopy" (click)="toggleShouldCopy(Forum)">
                </div>
            </div>
            <input type="text" disabled value="{{Forum.title}}" class="form-control" aria-label="Text input with checkbox">
        </div>

        <!--otherwise Accordion to be able to select single topics-->
        <div *ngIf="Forum.topics.topics.length > 0" id="{{'ForumTopicAppAccordion' + Forum.id}}" class="card" >
            <div class="card-header" id="heading">
               <h5 class="mb-0">
                   <input type="checkbox" id={{Forum.id}} [checked]="Forum.shouldCopy || Forum.shouldCopyAll"
                       (click)="toggleShouldCopy(Forum)" />
                    <button class="btn btn-link" data-toggle="collapse" attr.data-target="{{'#collapse' + Forum.id}}"
                       aria-expanded="true" attr.aria-controls="{{'collapse' + Forum.id}}">
                       {{Forum.title}}
                   </button>
                </h5>
            </div>

            <div id="{{'collapse' + Forum.id}}" attr.aria-labelledby="heading" class="collapse"
            data-parent="#ForumTopicAppAccordion">
                <div class="card-body">
                    <!--display of the single topics-->
                    <div *ngFor="let forumTopic of Forum.topics.topics" class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" id={{forumTopic.id}} [checked]="forumTopic.shouldCopy" (click)="setShouldCopy(Forum, forumTopic)">
                            </div>
                        </div>
                        <input type="text" disabled value="{{forumTopic.title}}" class="form-control" aria-label="Text input with checkbox">
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
