<h3>Remote Applications</h3>
<div *ngIf="remoteApps.model">
    <li *ngFor="let remoteApp of remoteApps.model.remoteApplications" (click)="onSelect(remoteApp.link)">
        <span>{{remoteApp.title}} </span>
        <div *ngIf="selectedRemoteApplication">
            <div *ngIf="remoteApp.title === 'Wiki'">
                <div *ngIf="selectedRemoteApplication.name === 'Wiki'">
                    <app-wiki [remoteApplication]="remoteApp.link"></app-wiki>
                </div>
            </div>
            <div *ngIf="(remoteApp.title === 'Files') || (remoteApp.title === 'Dateien')"> <!--TODO: Checken wie das besser zu prüfen ist... Manchmal englisch manchmal deutsch?!-->
                <div *ngIf="selectedRemoteApplication.name === 'Files'">
                    <app-files [remoteApplication]="remoteApp.link"></app-files>
                </div>
            </div>
            <div *ngIf="(remoteApp.title === 'Aktivitäten') || (remoteApp.title === 'Activities')"> <!--TODO: Checken wie das besser zu prüfen ist... Manchmal englisch manchmal deutsch?!-->
                <div *ngIf="selectedRemoteApplication.name === 'Activities'">
                    <app-aktivitaeten [remoteApplication]="remoteApp.link"></app-aktivitaeten>
                </div>
            </div>
            <!-- TODO: Hier können weitere Remote Application Collections hinzugefügt werden -->
        </div>
    </li>
</div>