* {
  font-family: Arial, Helvetica,sans-serif;
}

.progress {
    background-color: white;
}

.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.pagination.justify-content-center {
  padding-top: 10px;
}

.btn-back {
  background-color: #5b8ebc;
  color: white;
}

.col-Logs {
  width: 100%;
}

.card-header.custom {
  background-color: #5b8ebc;
  color: white;
}

.card-header.custom h5 {
  margin: 4px;
}

#progressbar.custom {
  list-style-type: none;

}

app-community-wrapper ul {
  list-style-type: none;
}

