<div *ngIf="!wikis">
    <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div *ngIf="wikis">
    <div *ngFor="let wiki of wikis.wikis">
        <div *ngIf="wiki.childWikis.length === 0" class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" id={{wiki.uUid}} [checked]="wiki.shouldCopy"
                        (click)="toggleShouldCopy(wiki)">
                </div>
            </div>
            <input type="text" disabled value="{{wiki.title}}" class="form-control"
                aria-label="Text input with checkbox">
        </div>
        <div *ngIf="wiki.childWikis.length > 0" class="mb-12">
            <app-wiki-child [wiki]="wiki"></app-wiki-child>
        </div>
    </div>
</div>
